<div class="container">
  <div class="jumbotron">
    <h1 class="display-4 text-center mt-4">Welcome to {{ title }}</h1>

    <div class="container">
      <div class="row">
        <div class="col-md-auto">
          <img
            src="https://www.freeiconspng.com/uploads/survey-icon-12.png"
            width="auto"
          />
        </div>

        <div class="col-md-8">
          <p class="lead d-flex justify-content-center mt-4">
            An online survey or 'Web Intercept Survey' is a method for getting
            both qualitative and quantitative feedback from users directly about
            a website. There may be both open-ended and closed-ended questions.
            Such as our survey website, it allows you to add a general view on
            someone or something, update an existing post, respond to other’s
            post, delete existing post, share some reports, and even print out
            the summary of the responses.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
