<footer class="bg-black text-center fixed-bottom text-white mt-auto">
    <section class="p-1 pt-2">
      <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <div class="text-center bg-blue2 pb-2">&copy; 2022 All rights reserved.</div>
  </footer>
  