<main class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h5>{{ survey.name }}</h5>
            <h6>{{ survey.description }}</h6>
            <form #form="ngForm" (ngSubmit)="submitResponse(form)" class="m-2">
                <div *ngFor="let response of response.responses" class="form-group">
                    <label for="{{response.question._id}}">{{response.question.questionText}}</label>
                    <select *ngIf="response.question.questionOptions.length" [(ngModel)]='response.response' name="response" id="{{response._id}}">
                        <option *ngFor="let questionOption of response.question.questionOptions" value="{{questionOption}}">{{questionOption}}</option>
                    </select>
                    <input *ngIf="!response.question.questionOptions.length" type="text" [(ngModel)]='response.response' name="response" id="{{response.question._id}}" class="form-control" placeholder="{{response.question.questionText}}" required />
                </div>
                <button class="btn btn-primary submit-btn"> 
                    <i class="fas fa-edit"></i> Submit
                </button>
                <button class="btn btn-warning" routerLink='/survey'><i class="fas fa-undo"></i> Cancel</button>
            </form>
        </div>
    </div>
</main>